/ProjetoProgramacaoOriObj/nbproject/private/
/ProjetoProgramacaoOriObj/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/TarabalhoDuplasIgorEViniciusB/nbproject/private/
/TarabalhoDuplasIgorEViniciusB/build/
