/ProjetoProgramacaoOriObj/nbproject/private/
/ProjetoProgramacaoOriObj/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/TarabalhoDuplasIgorEViniciusB/nbproject/private/
/TarabalhoDuplasIgorEViniciusB/build/
/TrabalhoIndependete3/nbproject/private/
/TrabalhoIndependete3/build/
/JogoJOKEMPO/build/
/JogoJOKEMPO/nbproject/private/
/AtividadeAula02-05-23/nbproject/private/
/ViniciusBuffonJokenpo/nbproject/private/
/ViniciusBuffonJokenpo/build/
